<launch>
  <!-- Load the navigation stack -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen"/>

  <!-- Global Costmap Configuration -->
  <param name="global_costmap/robot_base_frame" value="base_footprint"/>
  <param name="global_costmap/global_frame" value="map"/>
  <param name="global_costmap/footprint" value="[[0.2, 0.2], [0.2, -0.2], [-0.2, -0.2], [-0.2, 0.2]]"/>
  <param name="global_costmap/static_map" value="true"/>
  
  <!-- Local Costmap Configuration -->
  <param name="local_costmap/robot_base_frame" value="base_footprint"/>
  <param name="local_costmap/global_frame" value="odom"/>
  <param name="local_costmap/rolling_window" value="true"/>
  <param name="local_costmap/footprint" value="[[0.2, 0.2], [0.2, -0.2], [-0.2, -0.2], [-0.2, 0.2]]"/>
</launch>
